<div class="container">
    <h1>Listado de préstamos</h1>
    
    <div class="filters">
        <form>
            <mat-form-field>
                <mat-label>Título del juego</mat-label>
                <mat-select disableRipple [(ngModel)]="selectedGameTitle" name="title" (selectionChange)="setGameSelected($event.value.id)">
                    <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Nombre del cliente</mat-label>
                <mat-select disableRipple [(ngModel)]="selectedClientName" name="name" (selectionChange)="setClientSelected($event.value.id)">
                    <mat-option *ngFor="let client of clients" [value]="client" >{{client.name}} </mat-option>
                </mat-select>
            </mat-form-field>  
            
                <mat-form-field appearance="fill">
                    <mat-label>Fecha</mat-label>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <input [(ngModel)]="filterDate" name="date" matInput [matDatepicker]="picker" (dateChange)="dateFilterChange($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
        </form>

        <div class="buttons">
            <button mat-stroked-button (click)="onCleanFilter()">Limpiar</button> 
            <button mat-stroked-button (click)="onSearch()">Filtrar</button> 
        </div>   
    </div>   

    <mat-table [dataSource]="dataSource"> 
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Identificador</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="client">
            <mat-header-cell *matHeaderCellDef>Nombre cliente</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.client.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="game">
            <mat-header-cell *matHeaderCellDef>Titulo juego</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.game.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="initialDate">
            <mat-header-cell *matHeaderCellDef>Fecha inicial</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.initialDate | date : 'dd-MM-YYYY'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="finalDate">
            <mat-header-cell *matHeaderCellDef>Fecha final</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.finalDate | date : 'dd-MM-YYYY'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button color="accent">
                    <mat-icon (click)="deleteLoan(element)">clear</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table> 

    <mat-paginator (page)="loadPage($event)" [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageNumber" [pageSize]="pageSize" [length]="totalElements" showFirstLastButtons></mat-paginator>

    <div class="buttons">
        <button mat-flat-button color="primary" (click)="createLoan()">Nuevo préstamo</button> 
    </div>   
</div>
